.counters {
    width: 100%;
    min-height: 300px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
        min-height: 200px;
        position: relative;

        &-count {

            font-family: Montserrat;
            color: #ffffff;
            font-size: 48px;
            font-weight: 200;
            line-height: 36px;
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 2rem;
        }

        &-text {

            font-family: Montserrat;
            color: #c7b299;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
        }

        &::after {
            display: block;
            content: '';
            width: 30px;
            height: 2px;
            background-color: #ffffff;
            position: absolute;
            top: 190px;
            left: 80px;
        }

    }

    .client-icon {
        background: url(../img/client-icon.svg) no-repeat 50% 0;
    }

    .coffee-icon {
        background: url(../img/coffee-icon.svg) no-repeat 50% 0;
    }

    .blog-icon {
        background: url(../img/blog-icon.svg) no-repeat 50% 0;
    }

    .likes-icon {
        background: url(../img/likes-icon.svg) no-repeat 50% 0;
    }

    .launched-icon {
        background: url(../img/launched-icon.svg) no-repeat 50% 0;
    }


}
