.latest-project {
    width: 61%;
    min-height: 1001px;
    margin: 8rem auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-family: Raleway;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }

    p {
        width: 64.7%;
        font-family: Montserrat;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
    }

    ul {
        width: 52%;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #ebebeb;
            box-sizing: border-box;
            background-color: rgba(17, 17, 17, 0);
            width: 19%;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Montserrat;
            color: #8c8c8c;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;



            &:hover {
                background-color: #998675;
                color: $colorTextWhite;
            }
        }
    }

    &-item {
        width: 100%;
        min-height: 705px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
        }

        article {

            position: relative;

        }

        .item-text {
            width: 370px;
            height: 100px;
            background-color: #fbfaf8;
            outline: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3rem;
            position: relative;
            bottom: 3px;

            h3 {
                font-family: Raleway;
                color: #c7b29a;
                font-size: 20px;
                font-weight: 500;
                text-align: left;
            }

            p {
                font-family: Montserrat;
                color: #d1d1d1;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                text-align: left;
            }

            &::before {
                display: block;
                content: "";
                position: absolute;
                left: 30px;
                top: -35px;
                border: 20px solid transparent;
                border-bottom: 15px solid #fbfaf8;
            }

        }

        .hover-1,
        .hover-2 {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            position: absolute;
            display: none;

            .icon-search,
            .icon-link {
                font-size: 28px;
                color: #ffffff;
            }
        }

        .hover-1 {
            top: 80px;
            left: 130px;
        }

        .hover-2 {
            top: 80px;
            left: 200px;
        }





        article:hover {

            img {
                filter: grayscale(64%) sepia(0.31) saturate(0.38) brightness(72%) contrast(100%);
                -webkit-filter: grayscale(64%) sepia(0.31) saturate(0.38) brightness(72%) contrast(100%);
            }

            .item-text {
                background-color: #362f2d;
                color: $colorTextWhite;
            }

            .item-text::before {
                border: 20px solid transparent;
                border-bottom: 15px solid #362f2d;
            }

            .hover-1,
            .hover-2 {
                display: block;
                outline: none;
            }

            .hover-1:hover,
            .hover-2:hover {

                .icon-search,
                .icon-link {
                    color: $serviceHover;
                }
            }


        }

    }

    &-btn {
        border-radius: 3px;
        background-color: #998675;
        width: 170px;
        height: 50px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.69);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        span {
            font-family: Raleway;
            color: $colorTextWhite;
            font-size: 14px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
            text-transform: uppercase;
        }

        &:hover span {
            color: black;

        }

        &:active {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            span {
                color: red;
            }
        }

    }
}
